<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
 

<!-- <p>
  <%= link_to 'Destroy comment', [comment.article, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p> -->