<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
 
<!-- <p>
  <b>Comment_id:</b>
  <%= comment.comment_id %>
</p> -->
<!-- <p>
  <b>Author:</b>
  <%= comment.user_id %>
</p> -->

<p>
  <%= link_to 'Destroy comment', [comment.article, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>