
	
	
<div class="row">
	<div class="span8 offset2">
		<h1>Create your article:</h1>
		<%= render 'form' %>
		<%= link_to 'Back', articles_path %> |
		<%= link_to 'Home', home_path %>
	</div>
</div>





 