
	
	
<div class="row">
	<div class="span4 offset3">
		<h1>Create your article:</h1>
		<br />
		<%= render 'form' %>
		<%= link_to 'Back to stories', articles_path %> |
		<%= link_to 'Home', home_path %>
	</div>
</div>





 