
<p>
	<b>Please, enter you name: <%= @message.name %></b>
</p>
<p>
	<b>Email: <%= @message.email %></b>
</p>
<p>
<b>Subject: <%= @message.subject %></b>
</p>
<p><b>Message: <%= @message.body %></b></p>